body {
  display: flex;
  all: unset;
}
.container {
  margin: 0 150px;
  margin-top: 150px;
}
.movies {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 50px;
  flex-direction: row;
}
